<div id="{{$ctrl.workitemData.work_item_id}}" data-ng-dblclick="$ctrl.performDoubleClick()" data-ng-click="$ctrl.getWorkItemActions()" class="card workitem worklist-item {{$ctrl.workitemData.lob}} card-{{$ctrl.workitemData.status  | lowercase}}">

	<div class="percentage-color text-center"></div>
	<div class="card-header">
		<span class="{{$ctrl.after_title | lowercase}} noaction">{{$ctrl.workitemData.work_item_id}}: {{$ctrl.workitemData.lob}}
			<span class="badge">{{$ctrl.workitemData.complete_percent}}%</span>
			<div data-ng-show="$ctrl.isWorkItemSelected()">
				<span id="eventWorkItemAction_Delete" class="delete">
					<i class="fa"></i>
				</span>
			</div>
		</span>
	</div>
    <div class="card-content">
		<i class="fa"></i>
		<h2>
			<span>{{$ctrl.workitemData.entity_name}}</span>
			<span data-ng-hide="$ctrl.isLinkedToAccount()" class="no-account" title="This work item is not assigned to an account."><i class="fa"></i></span>
		</h2>
		<ul>
			<li>Effective on: {{$ctrl.workitemData.effective_date}}</li>
 			<li class="premium">Premium: {{$ctrl.workitemData.premium | currency : ' '}}</li>
			<li>{{$ctrl.lookupValue("TRANSACTION_TYPE",$ctrl.workitemData.transaction_type)}}</li>
			<li>{{$ctrl.lookupValue("STATUS",$ctrl.workitemData.status)}}</li>
			<li ng-show="$ctrl.isWorkItemSubmitted()" >Submission ID{{$ctrl.workitemData.external_id}}</li>
		</ul>
	</div>

	<div data-ng-show="isWorkItemSelected()" id="tile-actions" class="row card-actions">
		<div class="card-button">
			<span onmouseover="return true;" data-ng-click="$ctrl.actionClicked(action)" title="{{$ctrl.action.title}}"
					data-ng-repeat="action in workitemData.actions | filter: {isPrimary: true}"
					class="work_list_action action-button btn btn-default" id="eventWorkItemAction_{{$ctrl.action.action}}">
				<span>{{$ctrl.action.title}}</span>
			</span>
			<div class="btn-group other-actions" dropdown is-open="$ctrl.actionsOpen" ng-if="($ctrl.workitemData.actions | filter: {isPrimary: false}).length > 0">
				<button id="work_item_actions_secondary" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
					Other Actions<span class="caret"></span>
				</button>
				<ul class="dropdown-menu other-actions" role="menu">
					<li data-ng-repeat="action in $ctrl.workitemData.actions | filter: {isPrimary: false}" class="work_item_actions-{{$ctrl.action.action}}">
						<span onmouseover="return true;" data-ng-click="$ctrl.actionClicked(action)" title="{{$ctrl.action.title}}" class="work_list_action" id="eventWorkItemAction_{{$ctrl.action.action}}">
							<span>{{$ctrl.action.title}}</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
