<div class="add-new-work-item" id="add_new_workitem">
	<!--<a class="upload" ng-click="$ctrl.initiateUpload()"><i class="fa"></i><span class="link">Upload a form</span></a>   -->
	<button class="btn btn-primary" ng-click="$ctrl.createWorkItem()">Start a Policy</button>
</div>
