<div>
	<div class="ajax-messages alert" ng-if="$ctrl.messages.length > 0">
		<p ng-repeat="message in $ctrl.messages" class="alert-warning"><strong>Error:</strong> {{message}}</p>
	</div>
	<div id="work_list_contents">
		<div class="row worklist-table">
			<!-- START Workitem cards -->
			<div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="workitem in $ctrl.workListModel.workItems">

				<ap-workitem-card ng-if="$ctrl.workListModel.metaData.index == 'worklist'"
					workitem-data="workitem"
					when-selected="$ctrl.itemSelected(selectedWorkItem)"
					when-action-clicked="$ctrl.performAction(selectedWorkItem, action)">
				</ap-workitem-card>

				<ap-account-card ng-if="$ctrl.workListModel.metaData.index == 'account'"
					workitem-data="workitem"
					when-selected="$ctrl.itemSelected(selectedWorkItem)"
					when-action-clicked="$ctrl.performAction(selectedWorkItem, action)">
				</ap-account-card>

			</div>
			<!-- END Workitem cards -->
		</div>
	</div>
	<!-- pagination -->
	<div ng-if="$ctrl.workListModel.pagination.total > $ctrl.workListModel.pagination.fetchSize">
		<pagination total-items="$ctrl.workListModel.pagination.total" items-per-page="$ctrl.workListModel.pagination.fetchSize"
			ng-model="$ctrl.workListModel.pagination.currentPage" ng-change="$ctrl.pageChanged()" max-size="5" class="pagination-sm"
			boundary-links="true" rotate="false" num-pages="numPages"
			first-text="First"
			next-text="Next"
			previous-text="Previous"
			last-text="Last">
		</pagination>
	</div>

</div>
