<div id="workitem_approve_modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Approve This Work Item</h2>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to approve this work item?</p>
        <div class="button-row">
            <button type="button" class="btn btn-primary" ng-click="yes()">Approve</button>
        </div>
    </div>
</div>
