<div class="section quotes">
    <div id="quote_container" class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="status in $ctrl.statuses" ng-class="{'selected': $ctrl.isSelected(status)}">
                <a href="javascript:void(0)" ng-click="$ctrl.toggleStatusFilter(status)">
                    <div class="stat label-{{status | lowercase}}">
                        <h1>{{ $ctrl.getItemCount(status)}}</h1>
                        <p class="bottom-right">{{$ctrl.lookupValue('STATUS',status)}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
