<!-- Directive to display error messages for api calls -->
<div class="container">
	<ap-api-messages></ap-api-messages>
</div>

<div class="get-quotes">
	<div class="container">
		<ap-create-quote></ap-create-quote>
		<ap-worklist-quote-boxes fetch-work-items="$ctrl.fetchWorkItems()"></ap-worklist-quote-boxes>
	</div>
</div>

<section ng-cloak id="worklist_search_section" class="worklist-section">
	<div class="container has-offscreen-div">
		<div id="lb_workitem_locked" class="lightbox_panel" style="display: none">
			<div id="readOnlyMessage">
				<p>Locked</p>
			</div>
		</div>

		<!-- Search options -->
		<div id="search_filter" class="search-filter" ng-if="$ctrl.workListModel.metaData.index != undefined">
			<div class="row">
				<div id="messages" class="col-xs-12">
					<div id="error_msg" class="alert alert-error" style="display:none"></div>
					<div id="success_msg" class="alert alert-success" style="display:none"></div>
					<div id="info_msg" class="alert alert-info" style="display:none"></div>
				</div>
			</div>

			<!-- Removing pagination total for now since it's not in the FTS design
			<div class="row filter-row">
				<div id="filter" class="col-md-10 col-sm-10 col-xs-8 input-append animated fadeIn filter-controls">
					<div type="button" class="filter-counter hidden-xs" id="num-workitems">
						{{$ctrl.workListModel.pagination.total}}
						<span ng-if="$ctrl.workListModel.metaData.index == 'worklist'">Work Item(s)</span>
						<span ng-if="$ctrl.workListModel.metaData.index == 'account'">Account(s)</span>

					</div>
				</div>
			</div -->

			<div class="row active-filters-display has-offscreen-div" id="active_filters_display">
				<div class="col-md-8">
					<button class="btn btn-primary" ng-click="$ctrl.toggleFilterPanel()">
						Filter
					</button>

					<div id="filterbadge_{{filterOption.value}}" class="filter-button" data-ng-repeat="filterOption in $ctrl.getSelectedFilters()">
						<button class="close filter-close" data-ng-click="$ctrl.clearSelected(filterOption)"><i class="fa"></i></button>{{filterOption.title}}
					</div>

					<div id="filterbadge_{{advSearchField.relatedFieldId}}" class="filter-button" ng-if="advSearchField.operands[0] != '*'"
						data-ng-repeat="advSearchField in $ctrl.workListModel.metaData.queryInfo.queryFields | filter: {selected: true, interactive: true, isSaveable: true}">
						<button class="close filter-close" data-ng-click="$ctrl.clearSelected(advSearchField)"><i class="fa"></i></button>
						<span>{{advSearchField.title}}: </span>
						<span ng-if="advSearchField.operands.length == 1">{{advSearchField.operands[0]}}</span>
						<span ng-if="advSearchField.operands.length == 2">{{advSearchField.operands[0]}} - {{advSearchField.operands[1]}}</span>
					</div>

					<div id="filterbadge_sort" class="filter-button">
						<span>Sort By:</span>
						<span data-ng-repeat="sortOption in $ctrl.getSelectedSorts()">{{sortOption.title}}</span>
					</div>

					<span data-ng-show="$ctrl.getSelectedFilters().length == 0" ng-if="$ctrl.workListModel.metaData.index == 'worklist'"
						class="filter-button showing-all">
						Showing All Work Items
					</span>
					<span data-ng-show="$ctrl.getSelectedFilters().length == 0" ng-if="$ctrl.workListModel.metaData.index == 'account'"
						class="filter-button showing-all">
						Showing All Accounts
					</span>
					<div class="filter-button reset">
						<a ng-href="" id="reset-filter-button" data-ng-click="$ctrl.clearFilters();" name="reset-filter-button">Clear All</a>
					</div>
				</div>
				<div class="col-md-4 search-field" id="search">
					<div class="input-group search" id="search">
						<input id="search-box" type="text"
							data-ng-change="$ctrl.fetchWorkItems()" data-ng-model="$ctrl.searchValue" data-ng-repeat="queryField in $ctrl.workListModel.metaData.queryInfo.queryFields | filter: 'entity_name'"
							class="form-control" autocomplete="off" placeholder="Search" />
							<span class="input-group-addon btn btn-primary"><i class="fa"></i></span>
					</div>
				</div>
			</div><!-- end row active filters -->
		</div><!-- end row search filter -->

		<!-- Show indeterminate spinner on table while loading -->
		<div class="section loading-splash" ng-if="$ctrl.loading == true">
			<div class="container">
				<div class="spinner">
					<i class="fa fa-spin"></i>
				</div>
			</div>
		</div>

		<!-- content for cards/tiles. hard coding to the tabular component for now-->
		<!-- Only shows after loading completes -->
		<ap-tabular-view ng-show="$ctrl.loading == false"></ap-tabular-view>

		<ap-filter-panel filter-panel="$ctrl.filterPanel"></ap-filter-panel>
	</div><!-- container -->
</section>
