<div id="saved_filter_delete_modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Delete Saved Filter</h2>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this saved filter?</p>
        <div class="button-row">
            <button type="button" class="btn btn-primary" ng-click="yes()">Yes</button>
            <button type="button" class="btn btn-default" ng-click="no()" data-dismiss="modal">No</button>
        </div>
    </div>
</div>
