<div id="move-workitem-account-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Move Work Item</h2>
	</div>
	<div class="modal-body">
		<p>Search for an existing account to move the work item into.</p>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchVal" ng-change="lookupAccounts()" placeholder='Search for an account by name (3 character minimum)' >
			<span class="input-group-addon search"><i class="fa"></i></span>
		</div>
		<div id="move-account-search" class="move-account-container">
			<table class="table table-condensed table-striped prepend-top turnstile-account-search-listing accounts-search-modal-results" id="move-account-search-results-listing">
				<thead>
					<tr ng-show="displayResults"><th colspan="4">{{accounts.length}}&nbsp;Account(s) Found</th></tr>
				</thead>
				<tbody>
					<tr id="account_{{account.work_item_id}}" ng-repeat="account in accounts">
						<td class="account-type {{account.account_type}}"><i class="fa"></i></td>
						<td>{{account.entity_name}}</td>
						<td>{{account.work_item_id}}</td>
						<td><button type="button" ng-click="select(account)" class="btn btn-primary select-account pull-right">Select></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
